@model IEnumerable<WebApplication.Models.Person>
@{
    ViewBag.Title = "Home Page";
}
<h1>Some people</h1>

@Html.DataTable(Model, t => {
    t.Column("name", m => m.Name);
    t.Column("address", m => m.Address.UnsafeValue);
})